{{ if eq .chezmoi.os "darwin" -}}
[liga_hack_jbm_fonts]
    type = "archive"
    url = {{ gitHubLatestReleaseAssetURL "gaplo917/Ligatured-Hack" "*.zip" | quote }}
    include = ["HackNerdFontJBMLigatured-*.ttf"]
    refreshPeriod = "168h"
    targetPath = "Library/Fonts"
{{ else if eq .chezmoi.os "linux" -}}
[liga_hack_jbm_fonts]
    type = "archive"
    url = {{ gitHubLatestReleaseAssetURL "gaplo917/Ligatured-Hack" "*.zip" | quote }}
    include = ["HackNerdFontJBMLigatured-*.ttf"]
    refreshPeriod = "168h"
    targetPath = ".local/share/fonts"
{{ end -}}
